@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImg {
  background-image: url("./assets/wp1945898.jpg");
}

html,
* {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* For modern browsers, if scrollbars are required, use a custom style */
.modern-scrollbar::-webkit-scrollbar {
  width: 8px;  /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbar) */
}

.modern-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.6);  /* Scrollbar color with transparency */
  border-radius: 9999px;                 /* Round the corners (rounded-2xl) */
}

.modern-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.8);  /* Darker on hover */
}

.modern-scrollbar::-webkit-scrollbar-track {
  background: rgba(192, 192, 192, 0.3);  /* Track color with transparency */
  border-radius: 9999px;                 /* Round the corners (rounded-2xl) */
}

.modern-scrollbar {
  scrollbar-color: rgba(128, 128, 128, 0.6) rgba(192, 192, 192, 0.3); /* Thumb and track color for Firefox */
  scrollbar-width: thin;  /* Set scrollbar width for Firefox */
}

.no-select {
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard syntax */
}
